source_up_if_exists
source_env_if_exists '.envrc_secret'

for docker_env in ./docker/*/env; do
  source_env "$docker_env"
done

export CONTAINERS='db'
export RUDDERSTACK_ADDR='http://localhost'
export ALGOLIA_APP_ID='LM26G2NL9F' 
export ALGOLIA_API_KEY='5def5f3762efbc5bec4e01aa9b1b015f'
export CONTENTFUL_7MIND_SPACE_ID='e59pma7rqnnl'
export CONTENTFUL_7MIND_ENVIRONMENT='master'
export CONTENTFUL_7SLEEP_SPACE_ID='4ld3bho64vwi'
export CONTENTFUL_7SLEEP_ENVIRONMENT='master'
export SEVENMIND_CHARGEBEE_BASE_URL="https://7mind-test.chargebee.com"
export SEVENMIND_CHARGEBEE_NAMESPACE="7mind-test"

use flake
